[default]
host="localhost"
port="3306"
username="username"
password="pass"
socket=""
dbname="testdb"
persistent="true"
charset="utf8"

[secondary]
host="localhost"
port="3306"
username="username"
password="pass"
socket=""
dbname="testdb"
persistent="true"
charset="utf8"

[other]
host="localhost"
port="3306"
username="username"
password="pass"
socket=""
dbname="testdb"
persistent="true"
charset="utf8"

