; This is a sample configuration file
; Comments start with ';', as in php.ini

[default]
host="localhost"
port="3306"
username="username"
password="pass"
socket=""
dbname="testdb"
persistent="true"
; init should be array or string
init = SET NAMES 'utf8mb4' COLLATE 'utf8mb4_unicode_ci'

[secondary]
host="localhost"
port="3306"
username="username"
password="pass"
socket=""
dbname="testdb"
persistent="true"
charset="utf8"
init[] = SET NAMES 'utf8mb4' COLLATE 'utf8mb4_unicode_ci'

[other]
host="localhost"
port="3306"
username="username"
password="pass"
socket=""
dbname="testdb"
persistent="true"
charset="utf8"
init[] = SET NAMES 'utf8mb4' COLLATE 'utf8mb4_unicode_ci'
